#introduction {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 750px;
    background: url(../assets/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .user-pic {
        margin-bottom: 56px;
    }

    h2 {
        margin-bottom: 8px;
        font: var(--subtitle);
    }

    h1 {
        margin-bottom: 20px;
        font: var(--title-lg);
        color: var(--gray-600);
    }


    span {
        color: var(--gray-500);
    }

    span.mark-red {
        color: var(--red);
    }

    p {
        margin-bottom: 80px;
        font: var(--text-sm);
        color: var(--gray-400);
    }

    ul {
        font: var(--text-md);
        list-style: none;
    }
}

#projects {
    height: 917px;
    background-color: var(--gray-200);

    header {
        text-align: center;
        margin-block: 72px 0px 56px;

    }

    h2 {
        margin-top: 8px;
        margin-bottom: 56px;
        font: var(--title-md);
        color: var(--gray-600);
    }

    .projects {
        justify-content: center;

    }
}

#services {
    display: block;
    max-height: 480px;
    height: 480px;
    background-color: var(--gray-100);
    padding: 0 120px 120px 120px;
    
    main {
        justify-content: center;
        max-width: 888px;
        max-height: 480px;
    }

    figure {
        border: 2px solid var(--gray-300);
        border-radius: 12px;
        width: 280px;
        height: 155px;
        padding-top: 20px;
        padding-left: 20px;

        h3 {
            color: var(--gray-500);
            font: var(--title-sm);
            margin-top: 20px;
            margin-bottom: 8px;
        }

        p {
            color: var(--gray-400);
            font: var(--text-sm);
        }
    }

    header {
        text-align: center;
        padding-top: 88px;

        h2 {
            font: var(--title-md);
            color: var(--gray-500);
            margin-block: 8px 56px;
        }
    }
}

#contact {
    height: 787px;
    background: url(../assets/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 128px;

    h3 {
        font: var(--subtitle);
        color: var(--purple);
        text-align: center;
        margin-bottom: 8px;
    }

    h2 {
        font: var(--title-md);
        color: var(--gray-600);
        text-align: center;
        margin-bottom: 8px;
    }
    
    p {
        font: var(--text-md);
        color: var(--gray-500);
        margin-bottom: 48px;
        text-align: center;
    }

    figure {
        display: flex;
        font: var(--text-md);
        color: var(--gray-500);
        background-color: var(--gray-300);
        border: 1px solid var(--gray-300);
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        width: 400px;
        height: 68px;
        margin-bottom: 16px;
    }
    figure:hover { 
        transform: scale(1.05);
        cursor: pointer;

    }
}

figure div {
    display: flex;
    gap: 8px;
    padding: 23px;
}


.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowup {
    margin-right: 24px;
}
