#introduction {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 750px;
    background: url(../assets/Background_Intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .user-pic {
        margin-bottom: 56px;
    }

    h2 {
        margin-bottom: 8px;
        font: var(--subtitle);
    }

    h1 {
        margin-bottom: 20px;
        font: var(--title-lg);
        color: var(--gray-600);
    }


    span {
        color: var(--gray-500);
    }


    p {
        margin-bottom: 80px;
        font: var(--text-sm);
        color: var(--gray-400);
    }

    ul {
        font: var(--text-md);
        list-style: none;
    }
}

#projects {
    height: 917px;
    background-color: var(--gray-200);

    header {
        text-align: center;
        margin-block: 72px 0px 56px;

    }
    h2 {
        margin-top: 8px;
        margin-bottom: 56px;
        font: var(--title-md);
        color: var(--gray-600);
   }
   .projects {
        justify-content: center;
   }
}

#services {
    height: 480px;
    background-color: var(--gray-100);
}

#contact {
    height: 787px;
    background-color: blueviolet;
    background: url(../assets/Background_Contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

span.mark-red {
    color: var(--red);
}