
.grid {
    display: grid;
}

.grid-flow-col{
    grid-auto-flow: column;
    gap: 16px;
}

.tag {
    border: 1px solid var(--gray-300);
    background-color: var(--gray-300);
    border-radius: 999px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    
    img {
        width: 24px;
        height: 24px;
    }
}
